
<div>
  <h1 class="title">
    {{ title }}!
  </h1>
</div>
<div class="container">
  <h2>
    Car Shows:
  </h2>

  <div class="row" *ngIf="errMsg !== '' ">
    <h3 class="errorMsg">{{errMsg}}</h3>
  </div>
  <div class="row">
    <ul class="carsUl" *ngFor="let car of cars">
      <li>
        <p>{{(car.make  !== "" ? car.make : "make not defined!" )}}</p>
        <div class="carMoSh">
          <h4 class="carModel">Model: {{(car.model !== "" ? car.model : "model not defined!")}}</h4>
          <h4 class="carShow">Show: {{(car.show) !== "" ? car.show : "show not defined!"}}</h4>
        </div>
      </li>
    </ul>

  </div>
</div>
